.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log
*.history
*.sql
*.sqlite
*.com
*.class
*.dll
*.exe
*.o
*.so
*.dmg
*.iso
*.jar
src/atom/local-history
src/atom/.node-gyp
src/atom/compile-cache
src/atom/local-history
src/atom/storage
src/atom/.npm
src/atom/dev
