"*":
  "atom-material-ui":
    colors: {}
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    audioBeep: false
    autoHideMenuBar: true
    closeEmptyWindows: false
    disabledPackages: [
      "linter-jshint"
    ]
    projectHome: "/home/ryan/Projects/"
    themes: [
      "seti-ui"
      "monokai-seti"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Consolas"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "169718cb-2f71-4f60-684d-f4ece219401f"
  linter: {}
  minimap:
    absoluteMode: true
    displayCodeHighlights: false
  "seti-ui":
    compactView: true
    disableAnimations: true
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    tabLength: 4
