[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ryan/Desktop/weed.txt]
row=5
col=0

[/home/ryan/Desktop/screenFetch-2016-05-17_18-11-33.png]
row=3
col=0

[/home/ryan/Desktop/IMG_20160527_205119.jpg]
row=6
col=0

[/home/ryan/Desktop/screenFetch-2016-05-17_18-11-55.png]
row=4
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/ryan]
row=1
col=0

